<!doctype html>
<html>
    <head>
        <title>Interactive Terminal Example for Your Project - ALBWR Web</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/xterm.css"/>
        <script src="/js/xterm.js"></script>
        <script src="/js/addon-fit.js"></script>
        <script src="/js/xterm-addon-web-links.js"></script>
    </head>
    <body>
        <center>
            <h1>Interactive Terminal Example</h1>
            <p>Feel free to use this terminal for your web based applications.</p>
        </center>
        <div id="terminal"></div>
        <script>
            /**
             * Terminal Emulator for a Web Browser
             * 
             * If you are thinking about adding this terminal to your web application, please consider removing these comments or keep some in if you want to.
             * This helps clean things up a little bit and keeps code clean.
             * 
             * Maker: josephanimate2021
             */ 
            // variables
            let cursorX;
            const term = new Terminal({ 
                // To know what options are supported for the Terminal class, refer to this URL: https://github.com/xtermjs/xterm.js/blob/master/typings/xterm.d.ts
                cursorBlink: true,
                convertEol: true,
                rows: 40,
            });
            // To know what options are supported for the FitAddon class, refer to this URL: https://github.com/xtermjs/xterm.js/blob/master/addons/addon-fit/typings/addon-fit.d.ts
            const fitAddon = new FitAddon.FitAddon();
            // To know what options are supported for the WebLinksAddon class, refer to this URL: https://github.com/xtermjs/xterm.js/blob/master/addons/addon-web-links/typings/addon-web-links.d.ts
            const webLinksAddon = new WebLinksAddon.WebLinksAddon();
            // loads the terminal
            term.loadAddon(fitAddon);
            term.loadAddon(webLinksAddon);
            term.open(document.getElementById('terminal'));
            fitAddon.fit();
            window.addEventListener("resize", e => fitAddon.fit())
            // sets up a websocket so that the terminal is usable.
            const protocall = window.location.protocol.startsWith("https") ? 'wss' : 'ws';
            const socket = new WebSocket(`${protocall}://${window.location.host}/shell${window.location.search}`);
            socket.addEventListener("message", e => {
                if (typeof e.data == "string") { // writes string data to the terminal.
                    cursorX = e.data.substring(e.data.lastIndexOf("\n") + 1).length;
                    term.write(e.data)
                } else {
                    // can be an instance of any kind of data.
                }
            });
            // input variable meant for handing off the array of letters to the server by converting them into plain text.
            let input = [];
            term.onKey(k => { // peforms terminal events when a key is pressed.
                switch (k.domEvent.code) {
                    case "Enter": { // sends the input to the server after a user presses the enter key.
                        if (cursorX) {
                            const text = input.join('');
                            cursorX = '';
                            term.write(k.key);
                            socket.send(input.join(''))
                            if (text.toLowerCase() == "cls" || text.toLowerCase() == "clear") term.clear()
                            input = [];
                        }
                        break;
                    } case "Backspace": { // deletes a letter from the terminal after the backspace key is pressed.
                        if (cursorX != undefined && term.buffer._normal.cursorX > cursorX) {
                            if (input[input.length - 1]) input.splice(input.length - 1, 1);
                            term.write('\b \b');
                        }
                        break;
                    } case "ArrowLeft": { // prevents the cursor from going too far to the left after the left arrow key is pressed.
                        if (cursorX != undefined && term.buffer._normal.cursorX > cursorX) term.write(k.key);
                        break;
                    } default: { // writes key data to the input array and terminal.
                        if (k.domEvent.code != "ArrowRight") input[term.buffer._normal.cursorX] = k.key;
                        term.write(k.key);
                    }
                }
            })
        </script>
    </body>
</html>