<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Legend Of Zelda: A Link Between Worlds Randomizer - Web UI</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/5.5.0/xterm.css" integrity="sha512-AbNrj/oSHJaILgcdnkYm+DQ08SqVbZ8jlkJbFyyS1WDcAaXAcAfxJnCH69el7oVgTwVwyA5u5T+RdFyUykrV3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/5.5.0/xterm.js" integrity="sha512-Gujw5GajF5is3nMoGv9X+tCMqePLL/60qvAv1LofUZTV9jK8ENbM9L+maGmOsNzuZaiuyc/fpph1KT9uR5w3CQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <div class="container">
            <h1>
                The Legend Of Zelda
                <br>
                A Link Between Worlds Randomizer
            </h1>
            <div id="step01" style="display: none;">
                <h2>North America ALBW Rom File</h2>
                <p>
                    This file is required in order to run the randomizer. 
                    Don't worry, this step can only be completed once. 
                    If you uploaded the wrong file on accident, you may come back here to try again.
                </p>
                <label for="fileInput" style="display: none;">Choose a file</label>
                <input type="file" id="fileInput" name="file" accept=".3ds" style="display: none;">
                <div id="dropArea" style="border: 2px dashed #ccc; padding: 20px; text-align: center;">
                    <p>Drag and drop files here or click to select</p>
                </div>
                <div id="fileName" style="margin: 10%;"></div>
                <button type="button" disabled id="uploadButtonChunk" class="styledButton">Upload</button>
                <div id="progressBar" class="progressBarClass" style="display: none;">
                    <div id="progressBarInner"></div>
                </div>
            </div>
            <form id="step02" style="display: none;" action="javascript:;">
                <div id="presets" style="float: left; display: none;">
                    <label for="presetsSelection" title="Click me to create your own preset with your current settings" onclick="settingsPresetMaker()">Setting Presets</label>
                    <select id="presetsSelection"></select>
                </div>
                <div style="float: right;" id="randoVer">
                    <label for="version">Randomizer Version</label>
                    <select id="version" onchange="loadSettings(this.value, appendSettings)" name="v">
                        <option value="z17">z17 (Latest)</option>
                    </select>
                </div>
                <h2>Randomizer Settings</h2>
                <p>You have uploaded a North America Rom File for The Legend Of Zelda: A Link Between Worlds. Now you may ranomize away!</p>
                <small>For more infomation about installing/uninstalling your randomized game seed, please refer <a href="https://github.com/rickfay/z17-randomizer?tab=readme-ov-file#installing-seeds">here</a>.</small>
                <hr>
                <div id="randoSettings" style="display: none;"></div>
                <button type="submit" class="styledButton" id="gameRandomizeBtn">Randomize Game</button>
                <div id="randoOutput" style="text-align: left;"></div>
            </form>
        </div>
        <script src="/js/form.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
