<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
        <title>The Legend Of Zelda: A Link Between Worlds Randomizer - Web UI</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/xterm.css"/>
        <script src="/js/xterm.js"></script>
        <script src="/js/addon-fit.js"></script>
    </head>
    <body>
        <div class="container">
            <h1 id="logo">
                <img src="https://github.com/user-attachments/assets/a1185a97-2e5f-4bde-901b-23836b2ca64e" alt="The Legend Of Zelda: A Link Between Worlds Randomizer">
            </h1>
            <div id="alertBlock">
                <div class="w3-panel">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
            <div id="step01" style="display: none;">
                <h2>Decrypted North America ALBW Rom File</h2>
                <p>
                    This file is required in order to run the randomizer. 
                    Don't worry, this step can only be completed once. 
                    If you uploaded the wrong file on accident, you may come back here to try again.
                </p>
                <label for="fileInput" style="display: none;">Choose a file</label>
                <input type="file" id="fileInput" name="file" accept=".3ds" style="display: none;">
                <div id="dropArea" style="border: 2px dashed #ccc; padding: 20px; text-align: center;">
                    <p>Drag and drop files here or click to select</p>
                </div>
                <div id="fileName" style="margin: 10%;"></div>
                <button type="button" disabled id="uploadButtonChunk" class="greenBtn">Upload</button>
                <div class="w3-light-grey w3-round-xlarge" id="progressBar" style="display: none;">
                    <div class="w3-container w3-green w3-round-xlarge" style="width:0%" id="progressBarInner">0%</div>
                </div>
            </div>
            <div id="settingsPresetMaker" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-close">&times;</span>
                        <h2>Create A Setting Preset</h2>
                    </div>
                    <div class="modal-body">
                        <p>
                            By either uploading your preset file or publishing your current preset settings, 
                            you are giving users more ideas on how they can randomize their game making their gameplay experience look like 
                            a new game that just came out of the box.
                        </p>
                        <form id="presetFileUploader" action="javascript:;" onsubmit="uploadPresetFile(this)">
                            <label for="presetFile">Preset File</label>
                            <input type="file" id="presetFile" name="file" accept=".json,.yaml,.toml"><br>
                            <input type="checkbox" id="publishingPresetCheckbox" onclick="setupPresetPublisher()"/>
                            <label for="publishingPresetCheckbox">Publish Preset</label><br>
                            <div id="publishingPresetDiv"></div>
                            <br><br>
                            <button type="submit" class="greenBtn">Confirm Preset Creation</button>
                        </form>
                        <div class="w3-light-grey w3-round-xlarge" style="display: none;">
                            <div class="w3-container w3-green w3-round-xlarge" style="width:0%">0%</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <h3>
                            This feature is currently in beta and is right now exclusive for json file uploads. 
                            toml and yaml file support is coming pretty soon. I hope that you're ready for the action to take place!
                        </h3>
                    </div>
                </div>
            </div>
            <form id="step02" style="display: none;" action="javascript:;">
                <input type="hidden" name="sourceVersion" value="stable"/>
                <div id="presets" style="float: left; display: none;">
                    <label for="presetsSelection">
                        Setting Presets
                    </label><br>
                    <select id="presetsSelection"></select><br>
                    <input class="greenBtn" onclick="document.getElementById('settingsPresetMaker').style.display = 'block'" type="button" value="Create A New Preset"/>
                </div>
                <div style="float: right;" id="randoVer">
                    <label for="version">Randomizer Version</label><br>
                    <select id="version" onchange="loadSettings(this.value, appendSettings)" name="v">
                        <option value="z17v3">z17 v3</option><!--
                        <option value="z17r">z17 Beta</option>
                        <option value="z17-rando">z17 (Old)</option>
                        <option value="z17-local">z17 (Older)</option>
                        <option value="albw">albw</option>-->
                    </select><br>
                    <input id="link2cli" type="button" value="Randomize Game With The CLI" class="greenBtn" onclick="window.open(`/cli?v=${this.getAttribute('data-v')}&execV=${this.getAttribute('data-execv')}&sourceVersion=stable&type=randomizer`, '_blank')"/>
                </div>
                <h2>Randomizer Settings</h2>
                <div class="w3-panel w3-pale-yellow w3-border">
                    <h3>Warning!</h3>
                    <p>
                        This page can go up to v3 of the ALBW Randomizer. 
                        To use the latest versions of the albw randomizer, please click <a href="/v4">here</a>.
                    </p>
                </div>
                <p>
                    You have uploaded a Decrpyted North America Rom File for The Legend Of Zelda: A Link Between Worlds.<br>
                    If you have uploaded the wrong file by accident, you may click <a href="/deleteFile">here</a> to delete it.<br>
                    Otherwise, have fun randomizing your game!
                </p>
                <small>
                    For more infomation about installing/uninstalling your randomized game seed, 
                    please refer <a target="_blank" href="https://github.com/rickfay/z17-randomizer?tab=readme-ov-file#installing-seeds">here</a>.
                </small>
                <hr>
                <div id="options">
                    <h3 title="Allows you to apply options that change the behavior of the albw randomizer executable.">Generation Options</h3>
                    <div title="Adds an arguement to the albw randomizer executable where it is told to not patch your game at all.">
                        <input type="checkbox" id="noPatch" name="noPatch">
                        <label for="noPatch">Disable Game Patching</label>
                        <br><br>
                    </div>
                    <div title="Adds an arguement to the albw randomizer executable where it is told to not generate your spoiler log.">
                        <input type="checkbox" id="noSpoilers" name="noSpoilers">
                        <label for="noSpoilers">Disable Spoiler Log</label>
                        <br><br>
                    </div>
                    <label for="seed">Seed (Optional)</label><br>
                    <small>Allows you to manually type in your own seed if you want to.</small><br>
                    <input type="number" id="seed" name="seed"><br><br>
                    <div id="noVerboseDiv" style="display: none;" title="Removes an arguement from the albw randomizer executable where it is told to not use verbose mode for game generation.
                    removal only works on versions a0.0.2 and below">
                        <input type="checkbox" id="noVerbose" name="noVerbose">
                        <label for="noVerbose">Disable Verbose Mode</label><br><br>
                    </div>
                    <div title="When this setting is enabled, developer mode will be used during game generation" id="devModeDiv" style="display: none;"></div>
                    <label for="presetCustomization">Preset Editor</label><br>
                    <small>
                        When this setting is disabled, you won't have to worry about customizing your preset with the GUI until you reload this page. 
                        You will just instead select a preset option provided for game generation.
                    </small><br>
                    <select id="presetCustomization" onchange="loadSettings(document.getElementById('version').value, appendSettings)">
                        <option>enabled</option>
                        <option>disabled</option>
                    </select><br><br>
                    <hr>
                </div>
                <div id="randoSettings" style="display: none;"></div>
                <button type="submit" class="blueBtn" id="gameRandomizeBtn">Randomize Game</button>
                <div id="randoOutput" style="text-align: left;"></div>
            </form>
        </div>
        <script src="/js/form.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
